<!DOCTYPE html>
<html>

<head>
    <title>Assistant.Bible</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
        <div class="col-md-1">
            <a href="/login" class="btn btn-primary" id="login" style="display: none;" role="button">Log In</a>
            <button type="submit" class="btn btn-primary" id="logout" style="display: none;">Log Out</button>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Chat Demo</h1>
                <div class="well" id="messages"></div>
                <form class="form-inline" action="" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="message" name="message" autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <button id="recordButton" class="btn btn-primary">Record</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script>
        const accessToken = localStorage.getItem('accessToken');
        if (accessToken === null) {
            // The user is not logged in, so render the Log In button.
            document.querySelector('#login').style.display = 'block';
        } else {
            // The user is logged in, so render the Log Out button.
            document.querySelector('#logout').style.display = 'block';
        }
    </script>
    <script>
        var endpoint = {{ ws_url| tojson }};
        endpoint += '?user=xxx&llmFrameworkType=openai-langchain&vectordbType=chroma-db&token=' + accessToken;
        var ws = null;
        ws = new WebSocket(endpoint);

        ws.onmessage = function (event) {
            data = JSON.parse(event.data)
            if (data.type == "error") {
                alert(data.message);
            } else {
                if (data.type == "question") {
                    $('#messages').append('<div><b>' + data.sender + '</b>: ' + data.message + '</div>');
                } else {
                    $('#messages').append('<div><b>' + data.sender + '</b>: ' + data.message +
                        '<button class="btn btn-link" onclick="alert(\'' + data.sources + '\');">(sources)</button>' +
                        '</div>'
                    );
                }
            }
        };

        $('form').submit(function (event) {
            event.preventDefault();
            if (ws.readyState == WebSocket.CLOSED || ws.readyState == WebSocket.CLOSING) {
                  window.location.replace({{ site_url }}+'/login');
            }
            const encoder = new TextEncoder();
            const encodedText = encoder.encode($('#message').val());
            ws.send(encodedText);
            $('#messages').append('<div><b>You</b>: ' + $('#message').val() + '</div>');
            $('#message').val('').focus();
        });
    </script>
    <script>
        let mediaRecorder;
        let chunks = [];

        // Check if the browser supports the required APIs
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {

            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function (stream) {
                    const recordButton = document.getElementById("recordButton");
                    let isRecording = false;


                    recordButton.addEventListener("click", function () {

                        if (isRecording) {
                            // If already recording, stop the recording
                            mediaRecorder.stop();
                        } else {
                            // If not recording, start recording

                            startRecording(stream);
                        }
                        // Toggle the recording state
                        isRecording = !isRecording;
                        recordButton.textContent = isRecording ? "Stop" : "Record";
                    });
                })
                .catch(function (error) {
                    console.error("Error accessing microphone:", error);
                });
        } else {
            console.error("getUserMedia not supported on your browser");
        }

        function startRecording(stream) {
            mediaRecorder = new MediaRecorder(stream);
            chunks = [];

            mediaRecorder.addEventListener("dataavailable", function (event) {

                chunks.push(event.data);
            });

            mediaRecorder.addEventListener("stop", function () {

                const audioBlob = new Blob(chunks, { type: "audio/wav" });
                const audioFile = new File([audioBlob], "recorded_audio.wav");
                sendToSocket(audioFile);

            });

            mediaRecorder.start();
        }

        function sendToSocket(audioFile) {

            const reader = new FileReader();
            reader.onload = function (event) {
                const arrayBuffer = event.target.result;
                ws.send(arrayBuffer);
            };
            reader.readAsArrayBuffer(audioFile);
        }
    </script>
     <script>
        document.getElementById('logout').addEventListener('click', async (event) => {
        console.log("Logging out");
        event.preventDefault();
        try {
            const response = await fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            })
        });
        localStorage.removeItem('accessToken');
        const data = await response.json();
        next_url = data.next_url;
        window.location.href = next_url;
    }
        catch (error) {
            console.error('Error:', error);
        }
    });
    </script>
      <br><br>
      <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Technology stack: LLM=gpt-3.5-turbo(OpenAI), Speech-to-text=Whisper(OpenAI) Database=Chroma, Framework=LangChain, Embeddings=Chroma's Native
        </div>
      </footer>
</body>

</html>