<!DOCTYPE html>
<html>
    <head>
        <title>Assistant.Bible</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      </head>
      <body>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="text-center">Chat Demo</h1>
              <div class="well" id="messages"></div>
              <form class="form-inline" action="" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" id="message" name="message" autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.1.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
        <script>
          var endpoint = {{ ws_url|tojson }};
          endpoint += '?user=xxx&llmFrameworkType=openai-langchain&vectordbType=chroma-db&dbPath=chromadb_store&collectionName=aDotBCollection'
          var ws = new WebSocket(endpoint)

          ws.onmessage = function (event) {
            data = JSON.parse(event.data)
            if(data.type == "error"){
              alert(data.message);
            } else {
              $('#messages').append('<div><b>' + data.sender+'</b>: '+data.message + 
                '<button class="btn btn-link" onclick="alert(\''+data.sources+'\');">(sources)</button>'+
                '</div>'
                );
            }
          };

          $('form').submit(function(event) {
            event.preventDefault();
            ws.send($('#message').val());
            $('#messages').append('<div><b>You</b>: '+$('#message').val() + '</div>');
            $('#message').val('').focus();
          });
        </script>
      </body>
      
</html>