<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>assistant.bible: A Bible Assistant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      h1 {
        font-size: 4em;
        background: linear-gradient(45deg, #0cdd2b, #64b5f6, #ffc107);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <body class="flex items-center justify-center h-screen px-2 text-white">
      
      <main class="container mx-auto p-4 flex-grow">
      <header class="w-full text-black">
        <div
          class="container text-black transition duration-300 ease-in-out max-w-xl"
        >
          <a href="https://assistant.bible">
            <h1 class="font-bold mb-4">assistant.bible</h1></a
          >
          <p class="text-lg mb-2">
            An intelligent search engine for domain-specific Bible data.
          </p>
        </div>
      </header>
      <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
      />
      <div class="flex flex-col md:flex-row justify-between items-center">
        <div class="w-full md:w-auto">
          <p class="font-bold">Search Domain:</p>
          <div class="flex items-center">
            <input
              type="checkbox"
              id="tyndale-open"
              name="tyndale-open"
              value="tyndale_open"
              onchange="changeLabel(this)"
              checked
            />
            <label for="tyndale-open" class="ml-2"
              >Tyndale Open Resources</label
            >
          </div>
        </div>
        <div class="w-full md:w-auto mt-4 md:mt-0">
          <a
            href="/login"
            class="bg-blue-500 text-white px-4 py-2 rounded hidden"
            id="login"
          >
            Log In
          </a>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hidden ml-2"
            id="logout"
          >
            Log Out
          </button>
        </div>
      </div>
      <div class="mt-8">
        <div class="bg-gray-200 p-4 rounded" id="messages"></div>
        <form class="flex mt-4">
          <input
            type="text"
            class="form-control flex-grow p-2 rounded-l border"
            id="message"
            name="message"
            autofocus
          />
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-r ml-3"
          >
            Send
          </button>
          <button class="bg-blue-500 text-white px-4 py-2 rounded ml-3" id="recordButton">
              <i class="fas fa-circle fa-sm"></i> Record
          </button>
        </form>
      </div>
    </main>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script type="module">

    </script>
    <script>
        // Fetch Supabase keys when the page loads
        const accessToken = sessionStorage.getItem('accessToken');
        console.log("accessToken: " + accessToken)
        if (accessToken === null) {
            // The user is not logged in, so render the Log In button.
            document.querySelector('#login').style.display = 'block';
        } else {
            // The user is logged in, so render the Log Out button.
            document.querySelector('#logout').style.display = 'block';
        }
    </script>
    <script>
        let label = "tyndale_open"
        var endpoint = {{ ws_url| tojson }};
        endpoint += '?llmFrameworkType=openai-langchain&vectordbType=postgres-with-pgvector&token=' + accessToken + '&labels=' + label;
        var ws = 
        setupWebsocket(endpoint);

        function setupWebsocket(endpoint) {
            ws = new WebSocket(endpoint);

        ws.onmessage = function (event) {
          data = JSON.parse(event.data)
          if(data.type == "error"){
            alert(data.message);
          } else {
            let sourcesButton = '';
            if(data.sources.length > 1) {
              sourcesButton = '&nbsp(<button class="btn btn-link text-blue-500" onclick="alert(\''+data.sources+'\');">sources</button>)';
            }
            $('#messages').append('<div class="font-bold">' + data.sender+'</div><div>'+data.message + sourcesButton + '</div>');
          }
        };
      }

      $('form').submit(function(event) {
        event.preventDefault();
        if (ws.readyState == WebSocket.CLOSED || ws.readyState == WebSocket.CLOSING){
          window.location.replace({{ site_url }}+'/login');
        }
        const encoder = new TextEncoder();
        const encodedText = encoder.encode($('#message').val());

        ws.send(encodedText);
        $('#messages').append('<div class="font-bold">You</div><div>: ' + $('#message').val() + '</div>');
        $('#message').val('').focus();
          });

        function changeLabel(src) {
            let labels = [];
            let tyndaleOpenElement = document.getElementById('tyndale-open')
            var endpoint = {{ ws_url| tojson }};
        endpoint += '?llmFrameworkType=openai-langchain&vectordbType=postgres-with-pgvector&token=' + key;
        if (tyndaleOpenElement.checked == true) { endpoint += '&labels=' + tyndaleOpenElement.value }
        ws.close();
        $('#messages').append('<div>---<b>Domain:Tyndale-Open:' + tyndaleOpenElement.checked + '</b>---</div');
        setupWebsocket(endpoint);
          }
    </script>
    <script>
        document.getElementById('logout').addEventListener('click', async (event) => {
            console.log("Logging out");
            event.preventDefault();
            try {
                const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                })
            });
            sessionStorage.removeItem('accessToken');
            const data = await response.json();
            next_url = data.next_url;
            window.location.href = next_url;
          } catch (error) {
            console.error('Error:', error);
          }
        });
    </script>
    <script>
        let mediaRecorder;
        let chunks = [];

        recordButton.addEventListener("click", function () {
        // Check if the browser supports the required APIs
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {

          navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function (stream) {
                const recordButton = document.getElementById("recordButton");
                let isRecording = false;
                  if (isRecording) {
                    // If already recording, stop the recording
                    mediaRecorder.stop();
                    recordButton.innerHTML = '<i class="fas fa-circle fa-sm"></i> Record';
                  } else {
                    // If not recording, start recording
                    startRecording(stream);
                    recordButton.innerHTML = '<i class="fas fa-stop-circle fa-sm"></i> Stop';
                  }
                  // Toggle the recording state
                  isRecording = !isRecording;
                })
                .catch(function (error) {
                  console.error("Error accessing microphone:", error);
                });
              } else {
                console.error("getUserMedia not supported on your browser");
              }
            });

        function startRecording(stream) {
            mediaRecorder = new MediaRecorder(stream);
            chunks = [];

            mediaRecorder.addEventListener("dataavailable", function (event) {

                chunks.push(event.data);
            });

            mediaRecorder.addEventListener("stop", function () {

                const audioBlob = new Blob(chunks, { type: "audio/wav" });
                const audioFile = new File([audioBlob], "recorded_audio.wav");
                sendToSocket(audioFile);

            });

            mediaRecorder.start();
        }

        function sendToSocket(audioFile) {

            const reader = new FileReader();
            reader.onload = function (event) {
                const arrayBuffer = event.target.result;
                ws.send(arrayBuffer);
            };
            reader.readAsArrayBuffer(audioFile);
        }
    </script>
    <br><br>
    <footer class="bg-gray-300 text-center p-3 mt-4">
      <div class="text-center">
        <ul class="flex flex-row justify-center items-center px-1 gap-2">
          <li>
            <i class="fas fa-tools"></i> Technology Stack:
          </li>
          <li>
            <i class="fas fa-brain"></i> gpt-3.5-turbo (OpenAI)
          </li>
          <li><i class="fas fa-database"></i> Postgres</li>
          <li>
            <i class="fas fa-border-all"></i> LangChain
          </li>
          <li>
            <i class="fas fa-search"></i> Embeddings: ada (OpenAI)
          </li>
        </ul>
      </div>
    </footer>
</body>
</html>
