<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>assistant.bible: A Bible Assistant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      h1 {
        font-size: 4em;
        background: linear-gradient(45deg, #0cdd2b, #64b5f6, #ffc107);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body class="flex items-center justify-center h-screen px-2 text-white">
    <div
      class="container bg-white p-8 text-black transition duration-300 ease-in-out max-w-xl"
    >
      <a href="https://assistant.bible">
        <h1 class="font-bold mb-4">assistant.bible</h1></a
      >
      <p class="text-lg mb-2">
        An intelligent search engine for domain-specific Bible data.
      </p>
      <p class="text-lg mb-2">
        Connects to LLMs and other AI models to provide accurate and relevant
        answers.
      </p>
      <p class="text-lg mb-4">
        Features a natural language chat interface for easy interaction.
      </p>
      <a
        href="https://github.com/BibleNLP/assistant.bible/tree/main"
        target="_blank"
        class="text-blue-600 hover:underline"
        >Open Source!</a
      >
      <br>
      <a
        href="{{ demo_url }}"
        target="_blank"
        class="text-blue-600 hover:underline"
        >Try Now!</a
      >
    </div>
  </body>
</html>
