<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>assistant.bible: A Bible Assistant</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      h1 {
        font-size: 4em;
        background: linear-gradient(45deg, #0cdd2b, #64b5f6, #ffc107);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body class="flex items-center justify-center h-screen px-2 text-white">
    <div
      class="container bg-white p-8 text-black transition duration-300 ease-in-out max-w-xl"
    >
      <a class="flex flex-col mb-4" href="https://assistant.bible">
        <h1 class="font-bold">
          assistant.bible

          <span
            class="self-start max-w-min max-h-min font-bold text-sm p-1 text-white rounded"
          >
            &lt;beta&gt;
          </span>
        </h1>
      </a>
      <p class="text-lg mb-2">
        Access specialized Bible data intuitively through natural language.
      </p>
      <p class="text-lg mb-2">
        Utilize AI and LLMs for accurate and relevant Bible insights.
      </p>
      <p class="text-lg mb-4">
        Interact easily with our natural language chat interface.
      </p>

      <div class="flex flex-row gap-2">
        <a
          href="{{ demo_url }}"
          class="bg-blue-500 text-white px-4 py-2 rounded ml-2"
        >
          <i class="fas fa-play-circle"></i> Try Now!
        </a>
        <a
          href="https://github.com/BibleNLP/assistant.bible/tree/main"
          target="_blank"
          class="bg-blue-500 text-white px-4 py-2 rounded ml-2"
        >
          <i class="fas fa-code-branch"></i> Open Source!
        </a>
      </div>
      <p class="text-sm mt-8">
        A collaboration between
        <a
          href="https://www.sil.org"
          target="_blank"
          class="text-blue-600 hover:underline"
        >
          SIL </a
        >,
        <a
          href="https://bridgeconn.com"
          target="_blank"
          class="text-blue-600 hover:underline"
        >
          BCS </a
        >, and
        <a
          href="https://www.biblica.com/clear/"
          target="_blank"
          class="text-blue-600 hover:underline"
        >
          Biblica's Clear project
        </a>
      </p>
    </div>
  </body>
</html>
